.idea/
*/cmake-build-debug

cmake-build-debug/

.vscode
/.vscode
.vscode/

build/

CMakeFiles/

cmake-build-debug-coverage/

*.exe
*.o
*.s
*.gcno
.gcno
*.gcda
*.gcov
*.map
*.MAP
*.obj
*.OBJ
*.OVL
*.TR
*.TD
*.tmp
.tmp

.zip
*.zip

*.rar
.rar

CMakeCache.txt
./CMakeCache.txt
*/CMakeCache.txt

gtestbadge/

Testing/

venv/

.idea/

__pycache__/

